@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../fonts/JetBrainsMono-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'SourceHanSerifCN';
    font-display: swap;
    src: url('../fonts/SourceHanSerifCN-SemiBold.otf') format("truetype");
}
body {
    font-family: 'JetBrains Mono','SourceHanSerifCN';
}